.main-action {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.main-action::before { /* seletor */ /* pseudo element */    
    content: "";/* isso é o quabrado vazio */
    background-color: #F25A5A;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}